**Create a DataFrame:**


Create a DataFrame df from a dictionary containing the following data:

data = { 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Age': [25, 30, 35, 40, 45], 'Salary': [50000, 60000, 70000, 80000, 90000]}

Basic DataFrame Operations

1)Display the first 3 rows of the DataFrame.

2)Display the summary statistics for numerical columns.

3)Retrieve the 'Age' column as a Series.

4)Calculate the average salary.

In [1]:
import pandas as pd
import numpy as np

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],'Age': [25, 30, 35, 40, 45],'Salary': [50000, 60000, 70000, 80000, 90000]}

x = pd.DataFrame(data)

print(x)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eva   45   90000

In [2]:
# 1. Display the first 3 rows of the DataFrame.

print(x[:3])

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [3]:
# 2. Display the summary statistics for numerical columns.

print(x.describe())

             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

In [4]:
# 3. Retrieve the 'Age' column as a Series

age = pd.Series(x['Age'])
print(age)

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [5]:
# 4. Calculate the average salary.

import numpy as np
print(np.mean(x["Salary"]))

70000.0